*{
  padding:0px;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
  background-image: url('eedd288afbcafad2b1f65e7a9cc7d108.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 1300px;
}
